:root {
  color-scheme: dark;
  background-color: #242424;
}

a {
  color: #ffffff !important;
}

a:hover {
  color: #cfcfcf !important;
}

button {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
}

body {
  background-color: #242424 !important;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: #ffffff !important;
}
